@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Triatlonska aplikacija</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ozra_vaje4.styles.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav id="navBarMain" class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand text-dark" asp-area="" asp-controller="Home" asp-action="Index">Triatlon</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">

                          @if (User.IsInRole("Uporabnik"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                            </li>
                        }

                         @if (!User.IsInRole("Uporabnik"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Registracija" asp-action="Registracija">@Localizer["Registracija"]</a>

                            </li>
                        }
                         
                         @if (!User.IsInRole("Uporabnik"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Account">@Localizer["LogIn"]</a>

                            </li>
                        }
                        @if (User.IsInRole("Uporabnik"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="TekmovanjaIsci" asp-action="TekmovanjaIsci">@Localizer["Tekmovanja"]</a>

                            </li>
                        }
                        @if (User.IsInRole("Uporabnik"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="TekmovanjaIsci" asp-action="TekmovanjaFunkcionalnosti">@Localizer["im"]</a>

                            </li>
                        }
                        @if (User.IsInRole("Uporabnik"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Statistika" asp-action="Statistika">@Localizer["stats"]</a>

                            </li>
                        }
                        @if (User.IsInRole("Uporabnik"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Rezultati" asp-action="Rezultati">@Localizer["rez"]</a>

                            </li>
                        }
                        
                    </ul>
                    @if (User.IsInRole("Uporabnik"))
                    { 
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Profil" asp-action="Profil">@Localizer["profil"]</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">@Localizer["logOut"]</a>
                            </li>
                        </ul>
                    }
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#" onclick="changeLanguage('sl-SI')">SLO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="#" onclick="changeLanguage('en-US')">EN</a>
                        </li>
                    </ul>

                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        function changeLanguage(culture) {
            var returnUrl = window.location.pathname + window.location.search;
            window.location.href = '/Home/ChangeLanguage?culture=' + culture + '&returnUrl=' + encodeURIComponent(returnUrl);
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
